@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
}

header, footer {
    text-align: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

footer {
    padding-bottom: 3em;
}

.wrapper {
    max-width: 800px;
    margin: auto;
}

.sheet:first-of-type {
    margin-bottom: 2em;
}

.sheet-header {
    text-align: center;
    padding: 1em;
}

.sheet-header h2 {
    margin: 0px;
}

    .header-row {
    background-color: lightyellow;
    margin: 0;
    padding: 0.5em;
}

.group-table tr th:first-child, .group-table tr td:first-child {
    width: 99%;
}
.group-table tr th:last-child, .group-table tr td:last-child {
    text-align: right;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 0.5em;
}

.symb-cell {
    text-align: center;
}

#journal-table .entry-row:hover {
    background-color: lightgreen;
}

.entry-row {
    border-top: 1px solid black;
}

    .entry-row:nth-child(even) {
background-color: lightyellow;
}

#page-links {
    text-align: right;
    margin: 2em 0em 1em 0em;
}

.page-link {
    padding: 1em;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.page-link:first-child {
    border-right: 0.5px solid black;
}

.page-link:last-child {
    border-left: 0.5px solid black;
}

.current-page {
    font-weight: bold;
    color: white;
    background-color: black;
}

.credit-row {
    padding-left: 2em;
}

.balanced {
    background-color: lightgreen;
}

.unbalanced {
    background-color: pink;
}
