<header>
  <a href="{{ site.url }}/sitemap.html">
  <svg class="menu-scroll">
    <path stroke-width="5" d="M 0 2.5 L 40 2.5"/>
    <path stroke-width="5" d="M 0 12.5 L 40 12.5"/>
    <path stroke-width="5" d="M 0 22.5 L 40 22.5"/>
  </svg>
</a>
  <div class="container-outer">
    <div class="container-inner">
      <div class="header-wrapper">
        <ul class="nav-menu">
          <li><a href="{{ site.url }}">Home</a></li>
          {% assign sorted_pages = site.pages | sort: "order" %}
          {% for page in sorted_pages %}
            {% if page.parent == "Home" %}
              <li>
                <a href="{{ page.url }}">{{ page.title }}
                  <span class="menu-more-notch">&#9660;</span>
                </a>
                {% assign parent_page = page.title %}
                {% if page.subpages == "yes" %}
                  <ul class="nav-menu nav-submenu">
                    {% for page in sorted_pages %}
                      {% if page.parent == parent_page %}
                        {% assign subpage_title = page.title %}
                        <li><a href="{{ page.url }}">{{ page.title }}
                          {% if page.subpages == "yes" %}
                            <span class="menu-more-notch">&#9654;</span></a>
                            <ul class="nav-menu nav-subsubmenu">
                              {% for page in sorted_pages %}
                                {% if page.parent == subpage_title %}
                                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          {% else %}
                            </a>
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="header-logo">
          <a href="{{ site.url }}"></a>
          <svg width="180" height="50" class="logo">
            <path fill="#FFFFFF" d="M 0, 0 L 80, 0 L 80, 30 L 100, 30 L 100, 50 L 60, 50 L 60, 20 L 20, 20 L 20, 50 L 0, 50 Z"/>
            <path fill="#FFFFFF" d="M 90, 0 L 130, 0 L 130, 30 L 150, 30 L 150, 50 L 110, 50 L 110, 20 L 90, 20 Z"/>
            <path fill="#FFFFFF" d="M 140, 0 L 180, 0 L 180, 50 L 160, 50 L 160, 20 L 140, 20 Z"/>
          </svg>
          <p>RZZT CIC</p>
        </div>
      </div>
    </div>
  </div>
</header>
