<ul class="timeline">
  {% for milestone in page.timeline.milestones %}
    <li>
      <svg class="timeline-icon" viewBox="0 0 60 80">
        {% if forloop.first %}
          <use xlink:href="{{'/assets/timeline-icons.svg#timeline-start' | relative_url }}"></use>
        {% elsif forloop.last and page.timeline.complete == true %}
          <use xlink:href="{{'/assets/timeline-icons.svg#timeline-complete' | relative_url }}"></use>
        {% else %}
          {% assign current_date = site.time | date: '%Y%m%d' %}
          {% assign event_date = milestone.date | date: '%Y%m%d' %}
          {% if milestone.date contains ' ' or event_date < current_date %}
            <use xlink:href="{{'/assets/timeline-icons.svg#timeline-middle' | relative_url }}"></use>
          {% else %}
            <use xlink:href="{{'/assets/timeline-icons.svg#timeline-middle-future' | relative_url }}"></use>
          {% endif %}
        {% endif %}
      </svg>
      <p class="timeline-label">
        <span><strong>{{ milestone.date | date: "%-d %B %Y"}}</strong></span>
        <span>{{ milestone.milestone }}</span>
      </p>
    </li>
  {% endfor %}
</ul>
