---
layout: default
---

<div class="container-outer">
  <div class="container-inner">
    <div class="accounts-header">
      <h1>{{ site.data.accounts["business_name"] }}</h1>
      {% for info in site.data.accounts["business_information"] %}
        <p>{{ info }}</p>
      {% endfor %}
      <a href="{{ site.url }}/accounts/summary-of-accounts.html">
        Summary of Accounts</a> |
      <a href="{{ site.url }}/accounts/ledgers/general-ledger.html">
        General Ledger</a> |
      <a href="{{ site.url }}/accounts/balance-sheets.html">
        Balance Sheets</a> |
      <a href="{{ site.url }}/accounts/income-statements.html">
        Income Statements</a>
      <h2>{{ page.title }}</h2>
      {% assign currency_code = site.data.accounts["functional_currency"] %}
      {% for currency in site.data.accounts["currencies"] %}
        {% if currency["code"] == currency_code %}
          <p>Functional currency: {{ currency["name"] }}
        {% endif %}
      {% endfor %}
    </div>
    {{ content }}
  </div>
</div>
