---
layout: default
---

<div class="container-outer">
  <div class="container-inner">
    <h1 style="text-align:center;">{{ site.data.accounts["business_name"] }}</h1>
    {% for info in site.data.accounts["business_information"] %}
      <p style="text-align:center;">{{ info }}</p>
    {% endfor %}
    <h2 style="text-align:center;">{{ page.title }}</h2>
    {% assign currency_code = site.data.accounts["functional_currency"] %}
    {% for currency in site.data.accounts["currencies"] %}
      {% if currency["code"] == currency_code %}
        <p style="text-align:center;">Functional currency: {{ currency["name"] }}
      {% endif %}
    {% endfor %}
    {{ content }}
  </div>
</div>
