---
layout: accounts
---

<table class="accounts-table">
  <tr>
    <th>Date</th>
    <th>Narration</th>
    <th>Accounts</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Status</th>
  </tr>
  {% assign journal_sorted = site.data.accounts_journal | sort %}
  {% for entry_hash in journal_sorted %}
    {% assign entry = entry_hash[1] %}
    <tbody>
    <tr>
      {% if entry.note %}
        <td rowspan="3" nowrap>{{ entry.date | date: "%-d %b %Y" }}</td>
        <td rowspan="3">{{ entry.narration }}</td>
      {% else %}
        <td rowspan="2" nowrap>{{ entry.date }}</td>
        <td rowspan="2">{{ entry.narration }}</td>
      {% endif %}
      <td>
        {% for debit in entry.debit %}
          {{ debit.account }}<br/>
        {% endfor %}
      </td>
      <td class="right-aligned-cell">
        {% assign total_debit = 0 %}
        {% for debit in entry.debit %}
          {{ debit.amount }}<br/>
          {% assign total_debit = total_debit | plus: debit.amount %}
        {% endfor %}
      </td>
      <td></td>
      {% assign total_credit = 0 %}
      {% for credit in entry.credit %}
        {% assign total_credit = total_credit | plus: credit.amount %}
      {% endfor %}
      {% if total_debit == total_credit %}
        <td rowspan="2" class="accounts-table-balanced">Balanced</td>
      {% else %}
        <td rowspan="2" class"accounts-table-unbalanced">Unbalanced</td>
      {% endif %}
    </tr>
    <tr>
      <td class="accounts-table-credit">
        {% for credit in entry.credit %}
          {{ credit.account }}<br/>
        {% endfor %}
      </td>
      <td></td>
      <td class="right-aligned-cell">
        {% for credit in entry.credit %}
          {{ credit.amount }}<br/>
        {% endfor %}
      </td>
    </tr>
    {% if entry.note %}
      <tr><td colspan="4">{{ entry.note }}</td></tr>
    {% endif %}
    <tbody>
  {% endfor %}
</table>
