---
layout: default
---

<section class="home-section">
  <div class="container-outer">
    <div class="container-inner">
      <p class="large-text grey-text centred-text">
        RZZT is a <span class="massive-text orange-text"><strong>community interest company</strong></span> dedicated to funding <span class="massive-text orange-text"><strong>free and open-source software</strong></span> that protects, respects and fulfills <span class="massive-text orange-text"><strong>rights</strong></span> and civil <span class="massive-text orange-text"><strong>liberties</strong></span>.
      </p>
    </div>
  </div>
</section>
<img class="full-width-image" src="{{ site.baseurl }}/assets/circuit.jpg"/>
<section class="home-section grey-text">
  <div class="container-outer">
    <div class="container-inner">
      <h2>What we do</h2>
      <p>RZZT funds the development of free and open-source software (FOSS) that respect, protect and fulfil human rights and civil liberties. RZZT focuses particularly on projects that empower their users economically, promote freedom of expression, and protect the right to privacy.</p>
      <p>RZZT also acknowledges outstanding FOSS and open culture projects, and the valuable contributions of the individuals behind them. RZZT gives out non-monetary awards in recognition of such projects and individuals.</p>
      <p>RZZT's third and final aim is to educate the public about the benefits of FOSS, and the many high-quality alternatives to closed-source software that exist. RZZT hopes that through these efforts, the quality of FOSS wil improve and demand will increase.</p>
    </div>
  </div>
</section>

<img class="full-width-image" src="{{ site.baseurl }}/assets/london.jpg"/>

<section class="home-section grey-text">
  <div class="container-outer">
    <div class="container-inner">
      <h2>A community interest company. Literally.</h2>
      <p>RZZT is incorporated as a community interest company in the United Kingdom. RZZT's Articles of Association require the company to use all surplus income and assets for the benefit of the community. The company has no shareholders, and its members do not receive dividends or other financial benefits.</p>
      <p>RZZT is committed to corporate transparency and accountability. As such, many of the company records are published, including financial accounts and minutes of all meetings and decisions. RZZT is committed to being synonymous with trust and integrity.</p>
      <p>Administrative costs are kept to a minimum, so that funds for development are maximised. As a result, RZZT has no full-time staff and is run by three elected Directors, a Company Secretary, and other volunteer staff.</p>
    </div>
  </div>
</section>
